<div class="row">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Búsqueda Personalizada</h5>
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Director:</label>
                            <input type="text" class="form-control" id="director" name="director" [(ngModel)]="videojuegos.director" 
                                placeholder="Ingrese un Director">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Protagonista:</label>
                            <input type="text" class="form-control" id="protagonistas" name="protagonistas"
                                placeholder="Ingrese un Protagonista" [(ngModel)]="videojuegos.protagonistas">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Productor:</label>
                            <input type="text" class="form-control" id="productor" name="productor"
                                placeholder="Ingrese un Productor" [(ngModel)]="videojuegos.productor">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <button class="btn btn-success" (click)="cargarConsulta()" style="margin-top: 27px;"><i
                                    class="ik ik-search"></i>Buscar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="card" style="margin-top: -20px;">
        <div class="card-body">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Año</th>
                        <th scope="col">Protagonistas</th>
                        <th scope="col">Director</th>
                        <th scope="col">Productor</th>
                        <th scope="col">Tecnologia</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let video of videojuegosList | paginate: { itemsPerPage: 10, currentPage: p }">
                        <td>{{ video.id }}</td>
                        <td>{{ video.titulo }}</td>
                        <td>{{ video.nombre }}</td>
                        <td>{{ video.ano }}</td>
                        <td>{{ video.protagonistas }}</td>
                        <td>{{ video.director }}</td>
                        <td>{{ video.productor }}</td>
                        <td>{{ video.tecnologia.descripcion }}</td>
                        <td>{{ video.stock }}</td>
                        <td>{{ video.valorUnitario }}</td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>