<div class="card">
    <div class="card-header">
        <h5 class="card-title">Listado de Alquileres</h5>
    </div>
    <div class="card-body">
        <div class="alert alert-info alert-dismissible fade show" role="alert" *ngIf="alquiler.length == 0">
            <strong>Hola!</strong> No Tienes Alquileres Activos!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="ik ik-x"></i>
            </button>
        </div>
        <br>
        <div class="row">
            <div class="col-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Fecha Entrega</th>
                            <th>Cliente</th>
                            <th>Estado</th>
                            <th>Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of alquiler | paginate: { itemsPerPage: 10, currentPage: p }">
                            <td>{{item.id}}</td>
                            <td>{{item.fecha_entrega}}</td>
                            <td>{{item.cliente.nombres}} {{item.cliente.apellidos}}</td>
                            <td>{{item.estado}}</td>
                            <button type="button" (click)="verDetalle(item.id)" class="btn btn-warning"><i
                                class="ik ik-file-text"></i></button>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>